body {
  background-image: url("IMG/Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  min-width: 120px;
  background-color: black;
  width: fit-content;
}

td,
th {
  border: solid 2px black;
  padding: 2px;
  font-weight: bolder;
}

td.trekkes {
  width: 100px;
  text-align: center;
}

input.raffle {
  width: 30px;
}

button.raffle {
  width: 100px;
}

div.mainWindow {
  background-color: rgb(131, 17, 0);
  min-width: 320px;
  width: fit-content;
  border: solid black 3px;
  height: fit-content;
  padding: 10px;
  color: white;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  margin: auto;
  padding-bottom: 20px;

}

div.table {
  margin: auto;
  width: fit-content;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
}
